@import "/var";

body {
  font-family: "DM Sans", sans-serif;

  main {
    min-width: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
  }
}
// footer
footer {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
